:root {
  --color-1:#71bbee;
  --color-2:#86ddf3;
  --color-3:#feb2da;
  --color-4:#8474c7;
  --color-5:#ae8fdc;
  --color-6:#d395e0;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1rem;
}
p{
  font-size: 0.8rem;
}