#root{
  width: 100vw;
  height: 100vh;
  // background-color: rgb(255, 95, 95);
  overflow: hidden;
}
header{
  // background-color: rgb(207, 255, 35);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  // height: 5vh;
  &>h1{
    margin-top: 10vw;
    width: 50vw;
    // border: 1px solid red;
    display: flex;
    color: var(--color-4);

    // align-items: center;
    margin-left: 10vw;
  }
  &>nav{
    margin-top: 10vw;

    width: 5vh;
    height: 5vh;
    border: 1px solid red;
    margin-right: 10vw;

  }
}
main{
  // border: 1px solid blue;
  // height: 90vh;
  height: 100%;
  &>section:nth-child(1){
    height: 45vh;
    color: var(--color-5);

    &>div:nth-child(1){
      height: 30vh;
      // border: 1px solid green;
      display: flex;
      justify-content: center;
      align-items: center;
      &>div:nth-child(1){
        width: 25vh;
        height: 25vh;
        background-color: var(--color-3);
        border-radius: 50%;
      }
    }
    &>div:nth-child(2){
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 1px solid red;
      &>h2{
        margin-top: 1vh;
        margin-bottom: 1vh;
      }
    }
  }
  &>section:nth-child(2){
    height: 100%;
    // background-color: var(--color-2);
    border-top: 1px solid var(--color-2);

    &>h2{
      // border: 1px solid blue;
      padding-left: 10vw;
      padding-top: 3vh;
      color: var(--color-4);

    }
    &>article{
      // border: 1px solid green;
      height: 22vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row: 1fr 1fr;
      padding-left: 10vw;
      padding-right: 10vw;
      gap: 2vh;
      margin-top: 1vh;
      &>div{
        // width: 5vh;
        height: 10vh;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &>div{
          width: 7vh;
          height: 7vh;
          background-color: var(--color-3);
          border-radius: 50%;
        }
        &>p{
          font-size: 0.7rem;
          white-space:nowrap;
          color: var(--color-5);
        }
      }
    }
    &>p{
      // border: 1px solid green;
      padding-left: 10vw;
      margin-top: 2vh;
      padding-right: 10vw;
      color: var(--color-4);

    }
  }
}