#root{
  width: 100vw;
  height: 100vh;
  padding: 10vw;
  &>section:nth-child(1){
    border: 1px solid black;

    &>h2{
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &>#time{
      margin-top: 5vh;
      border: 1px solid blue;
    }
  }
  &>section:nth-child(2){
    margin-top: 5vh;
    border: 1px solid black;
  }
}
