#root{
  width: 100vw;
  height: 100vh;
  padding: 10vw;
  &>section:nth-child(1){
    border: 1px solid var(--color-1);

    &>h2{
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-3);
    }
    &>#time{
      margin-top: 5vh;
      margin-bottom: 2vh;
      // border: 1px solid blue;
      display: flex;
      justify-content: space-between;
      &>:nth-child(1){
        margin-left: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-4);
        // border: 1px solid red;
        &>h1{
          margin-top: 2vh;
          width: 7vh;
          height: 7vh;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 1px solid var(--color-5);
          color: var(--color-3);
        }
      }
      &>:nth-child(2){
        margin-right: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-4);

        // border: 1px solid red;
        &>h1{
          margin-top: 2vh;
          width: 7vh;
          height: 7vh;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 1px solid var(--color-5);
          color: var(--color-6);
        }
      }
    }
  }
  &>section:nth-child(2){
    margin-top: 10vh;
    // border: 1px solid black;
    &>div:nth-child(1){
      &>h2{
        color: var(--color-3);
      }
      &>p{
        margin-top: 2vh;
        color: var(--color-4);
      }
    }
    &>div:nth-child(2){
      margin-top: 10vh;
      &>h2{
        color: var(--color-3);
      }
      &>p{
        margin-top: 2vh;
        color: var(--color-4);

      }
    }
  }
}
